---
layout: default
title: Blog
permalink: /blog
---
{% if page.url == "/blog" %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Blog</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">All Blogs</li>
            </ol>
        </nav>
    </div>
    <br>
    <section class="section">

        <div class="row">

            {% for post in site.posts %}

            {% include postbox.html %}

            {% endfor %}

        </div>

    </section>
</main>
{% endif %}