---
layout: default
permalink: /
canonical_url: "https://jinnabalu.com/"
title: "Dev(Sec)Ops Solution Architect"
image_url: assets/img/jinnabalu.jpeg
description: "Infra Ops, DevOps, DevSecOps, SRE, AWS Cost Optimization, Dev(Sec)Ops Solution Architect, Infra Ops,
DevOps, DevSecOps, SRE"
date: 2023-01-05T10:15:00Z
keywords: "DevOps, DevOps As Service, SRE, Elasticsearch, ELK Stack, Observability, Distributed Cluster of Cassandra,
Elasticsearch, MongoDB"
---
<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{page.title}}</h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card info-card">
        <div class="card-body">
          <br>
          <h6>Containerization</h6>
          <hr>
          <p>Docker, Podman, Docker Swarm, Kubernetes, AWS ECS</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card info-card">
        <div class="card-body">
          <br>
          <h6>Monitoring</h6>
          <hr>
          <p>ELK Stack, Prometheus, Grafana, ​Uptime Kuma</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>Cloud Services: AWS, Digital Ocean</h6>
              <hr>
              <p>Audit Manager, Security Hub, Config, Guard Duty, Security Compliance, Capacity Planning, IAM, Route53
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>Compliances</h6>
              <hr>
              <p>
                SOC2, GDPR, PCI DSS
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>CICD</h6>
              <hr>
              <p>
                Jenkins, Bitbucket, Gitlabs, Github Actions, Rundeck
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>Version Controlling</h6>
              <hr>
              <p>
                Git, Monorepo, Polyrepo, Self Hosting Git Server 
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>Languages & Frameworks</h6>
              <hr>
              <p>Java(Spring), Javascript(NodeJS), Python(Flask)</p>
              <p>Scaffolding: Yeoman, Jhipster, FastAPI, Jekyll</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>DNS and Traffic Management</h6>
              <hr>
              <p>GoDaddy, Caddy, Nginx, Cloudflare</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>IaC</h6>
              <hr>
              <p>Ansible</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>Operating Systems</h6>
              <hr>
              <p>Ubuntu, Mac, CentOS, AlmaLinux, Windows</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card info-card">
            <div class="card-body">
              <br>
              <h6>Data Integration & Orchestration Tools</h6>
              <hr>
              <p>Elastic Stack Beats, Apache Nifi, Airflow, Azkaban</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card info-card">
        <div class="card-body">
          <br>
          <h6>Data Streaming and Search Systems</h6>
          <hr>
          <p>Elasticsearch, Solr, OpenSearch, Kafka, RabbitMQ</p>
          <br>
          <h6>SQL, NoSQL and Distributed Databases</h6>
          <hr>
          <p>MariaDB, MySQL, Postgres</p>
          <br>
          <p>Cassandra, MongoDB, Redis</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card info-card">
        <div class="card-body">
          <br>
          <h6>SecOps</h6>
          <hr>
          <p>Code Quality - Sonarqube, SAST, DAST, Docker Image Scan Snyc, VAPT, Arachni, Trivy, Gitleaks</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://github-readme-stats.vercel.app/api?username=jinnabaalu&show_icons=true&theme=dark&locale=en"
        alt="jinnabalu" />
    </div>
    <div class="col-md-3">
      <img src="https://github-readme-streak-stats.herokuapp.com/?user=jinnabaalu&" alt="jinnabalu" />
    </div>
    <div class="col-md-6">
      <a href="https://github.com/jinnabaalu" target="_blank">
        <img
          src="https://github-profile-trophy.vercel.app/?username=jinnabaalu&row=1&column=6&theme=matrix&margin-w=20&margin-h=40"
          alt="trophy">
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Hands On Experience</h4>
      <div class="stacks">
        {% for link in site.data.techstack.links %}
        <a title="{{ link.alt }}" href="{{ link.href }}" target="_blank" rel="noreferrer" class="clip img-circle">
          {% if link.img_src %}
          <img src="{{ link.img_src }}" alt="{{ link.alt }}">
          {% else %}
          {{ link.text }}
          {% endif %}
        </a>
        {% endfor %}
      </div>
      <br>
    </div>
  </div>

  <section class="section dashboard">
    <br>
    <div class="row">
      <div class="col-xxl-8 col-md-8">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">Experience with Technologies</h5>
            <hr>
            <ul>
              <li><a href="https://github.com/ContainerTalks" target="_blank">ContainerTalks</a> creator and
                maintainer
              </li>
              <li>Docker, DevOps, Docker Swarm, Kubernetes, Mesos, Continuous Delivery, Cloud Computing,
                Architecture, and Best Practices,
                Agile
                methodologies</li>
              <li>Observability-Driven Development and Operations with Elasticsearch, Logstash,
                Kibana,
                and
                Beats</li>
              <li>
                Monitoring and Self Healing Environment with Grafana, Prometheus, CAdvisor,
                Node exporter,
                Alert Manager
              </li>
              <li>
                Site Reliability Practices</li>
              <li>
                AWS Capacity Planning, Cost Optimization</li>
              <li>
                HA Distributed Cluster Management - Redis, Casandra, Elasticsearch, Kafka,
                MongoDB</li>
              </li>
              <li>
                Containerization </li>
              <li>
                Microservices Architecture</li>

              <li>Elasticsearch fine-tuning for better indexing, querying, and scaling up or down
                to any
                number
                of nodes with confidence</li>
              <li>Cloudflare, Nginx and Caddy for <strong>Reverse Proxy, Load Balancing and Achieve Zero
                  downtime</strong>
              </li>
              <li>Polyglot Persistence with Java, Angular, AngularJs, Python,
                Elasticsearch(Primary Data
                Store), Kafka, Cassandra, Solr</li>
              <li>CICD - Bitbucket Pipeline and Jenkins Pipeline, Gitlab CICD, Github Actions</li>
              <li>I am a <strong>Seeds conservator</strong>, and researching plant morphology
                other than
                what I
                learned from my parents with help of my brothers
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-md-4">
        <div class="card info-card">
          <div class="card-body">
            <h5 class="card-title">I can help you</h5>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div>
                  <ul>
                    <li>Modernize the traditional deployment pipeline</li>
                    <li>Containerize anything</li>
                    <li>Setup the Shift Left Approach Pipeline for Security</li>
                    <li>Audit Compliance for SOC2, GDPR, PCI DSS</li>
                    <li>AWS Capacity Planning and Cost Optimization</li>
                    <li>Maintain and Monitor Distributed NoSQL Clusters</li>
                  </ul>
                </div>
              </div>

            </div>
            <h5 class="card-title">Love to Contribute</h5>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div>
                  <ul>
                    <li>Website for NGOs</li>
                    <li>Sharing Indigenous Seeds for conservator</li>
                    <li>Create the Network of Natural Farmers</li>
                  </ul>
                </div>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <span>I belive In <a
                    href="http://sujanaranjani.siliconandhra.org/%E0%B0%A8%E0%B0%B0%E0%B0%B8%E0%B0%BF%E0%B0%82%E0%B0%B9-%E0%B0%B8%E0%B1%81%E0%B0%AD%E0%B0%BE%E0%B0%B7%E0%B0%BF%E0%B0%A4%E0%B0%82-may-2017/"
                    target="_blank">"పరోపకారార్థమిదం శరీరమ్॥" </a></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-xxl-12 col-md-12">
      <div class="card info-card">
        <div class="card-body">
          <br>
          <h2>Personal Life</h2>
          <hr>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-lg-12">
                  <p>
                    My name is Jinna Balaiah in certificates, but internet and all my friends know me as Balu(బాలు ),
                    I
                    also
                    have a
                    personal life (yeah really!). I’m a father, and a responsible family member of 12 people(+3 in
                    next
                    few years), I am first person from family to go to school, did Master Degree in Computer
                    Applications.
                  </p>
                  <p>I’m a nerd and I am proud of it. My life is a busy one. Being a family man, creating time for the
                    people
                    around me, having a full-time job, create time for my hobby, is like juggling ten balls at the
                    same
                    time. We all got the same 24 hours in a day and the time doesn’t wait or stop.</p>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          I belive in పరోపకారార్థమిదం శరీరమ్ ॥ (CLICK TO EXPAND)
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                          {% include I-belive-in.html %}
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <p>Years ago I decided to become more productive in my life and started working on systems to
                    achieve
                    that
                    goal. You’d probably had one (or more) of those todo-lists right? Yeah… Thought so… so did I. They
                    grow,
                    become obsolete, and eventually forgotten. But still many thoughts popping in my brain, some of
                    them
                    partially completed sitting in GitHub, some of them are at the initial stage stopped after
                    creating
                    JDL(UML), and some of them are sitting as stories on my google keep, which takes the whole day to
                    read
                    about all of them.</p>

                  <p>Me as a Platform Engineer > DevOps Manager, I have gone through all the areas of the application.
                    I
                    will cover my
                    experience as a blog covering create application with scaffolding tools and configuration for
                    deploying apps as container I also provide configurations for Observability-Driven Development,
                    for
                    the security and performance</p>
                  <p>I use a method called “GTD” (Getting Things Done) and developed my own habits and disciplines in
                    the
                    past
                    years. Happy Productivity!</p>
                </div>

              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h2>I am a Natural Farmer</h2>
      <hr>
      <p>I am a natural farmer too, and a heirloom seed conservator</p>
      <p> I’m working for climate change - doing natural farming, conserving heirloom seeds maintaining the seed
        purity
        for the next generation</p>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe title="Software Engineer From Medak Turns Organic Farmer | V6 Life" class="embed-responsive-item"
          src="https://www.youtube.com/embed/7xHvWH_p6j0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-lg-12">
      <p>Hoping you are enjoying my site, and you can get in touch with me by commenting on the blog on <a
          href="https://github.com/ContainerTalks" target="_blank">ContainerTalks</a> articles or
        through
        the social platforms.</p>
    </div>
  </div>
  <br>
  <br>

  ...Balu
  </div>
</main>