---
layout: default
title: Home
---

{% if page.url == "/" %}
<div class="row justify-content-between mt-5">
    <div class="col-md-8 pr-5">
        <div class="mainheading">
            <div class="row">
                <div class="col-md-4 text-center pb-sm-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-pic">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front"><img class="lozad" data-src="assets/images/profile.jpg"
                                            src="assets/images/profile.jpg" alt="Jinna Balu" data-loaded="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1 class="sitetitle">{{ site.name }}</h1>
                            <p class="lead">
                                {{ site.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <p></p>
                    <ul>
                        <li>
                            Platform Engineer <a href="https://wisestep.com" target="_blank">@Wisestep</a>, maintaining
                            polyglot persistence
                        </li>
                        <li>
                            <strong>Observability Driven Development</strong> with Elasticsearch, Kibana, and Beats
                        </li>
                        <li><strong>Monitoring</strong> with Zabbix, Grafana, Prometheus, CAdvisor, Nodeexporter, Alert
                            Manager
                        </li>
                        <li>Docker, DevOps, Continuous Delivery, Cloud Computing, Architecting, and Best Practices,
                            Agile
                            methodologies</li>
                        <li>Nginx for <strong>Reverse Proxy, Load Balancing and Achieve Zero downtime</strong></li>
                        <li>Polyglot Persistence with Java, Angular, AngularJs, Python, Elasticsearch(Primary Data
                            Store), Kafka, Cassandra</li>
                        <li>Cloud &amp; Container technology enthusiast. Worked with Docker, AWS, Digital Ocean</li>
                        <li>Containerized possible technologies</li>
                        <li>CICD - Bitbucket Pipeline and Jenkins Pipeline, Gitlab CICD, Github Actions</li>
                        <li>Distributed Cluster Management - Redis, Casandra, Elasticsearch, Kafka, MongoDB</li>
                        <li>Agriculture is in my blood, I am a <strong>Seeds conservator</strong>, and researching on
                            plant's morphology
                            other than what I learned from my parent</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-3">
        <div class="sticky-top sticky-top-80">
            <div>
                <section class="featured-posts">
                    <div class="section-title">
                        <h2>
                            <span>
                                Love to Contribute
                            </span>
                        </h2>
                    </div>
                    <div>
                        <ul>
                            <li>Website for NGOs</li>
                            <li>Sharing Indigenous Seeds for Conservator</li>
                            <li>Create the Network of Natural Farmers</li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="mt-5">
                <section class="featured-posts">
                    <span>I belive In <a
                            href="http://sujanaranjani.siliconandhra.org/%E0%B0%A8%E0%B0%B0%E0%B0%B8%E0%B0%BF%E0%B0%82%E0%B0%B9-%E0%B0%B8%E0%B1%81%E0%B0%AD%E0%B0%BE%E0%B0%B7%E0%B0%BF%E0%B0%A4%E0%B0%82-may-2017/"
                            target="_blank">"పరోపకారార్థమిదం శరీరమ్॥"</a></span>
                    <br><br>
                    <p>I’m a nerd and I am proud of it.</p>
                </section>
            </div>
            <div class="mt-5">
                <div class="section-title">
                    <h2><span>Follow me on social media</span></h2>
                </div>
                <div class="about-social">
                    <a href="https://twitter.com/JinnaBalu" target="_blank">
                        <i class="fab fa-twitter fa-md"></i>
                    </a>
                    <!-- <a href="https://dev.to/jinnabalu" target="_blank">DEV </a> -->
                    <a href="https://www.linkedin.com/in/jinna-balu-20368995/" target="_blank">
                        <i class="fab fa-linkedin fa-md"></i>
                    </a>
                    <a href="https://medium.com/@JinnaBalu" target="_blank"><i class="fab fa-medium fa-md"></i> </a>
                    <a href="https://github.com/JinnaBalu" target="_blank"><i class="fab fa-github fa-md"></i></a>
                    <a href="https://github.com/JinnaBalu" target="_blank"><i class="fab fa-facebook fa-md"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<section class="p-5">
    <div class=row>
        <div class="col-lg-12">
            <div class="container-fluid text-center">
                <h1 id="documentation" class="text-primary">Application Development and Operations</h1>
                <img src="{{site.baseurl}}/assets/images/Platfobs_2.jpg" alt="Vibhuvi" style="border: 0" class="p-5">
                <h4 class="mb-3 text-primary">Create <small>|</small> Containerise <small>|</small> Observe
                    <small>|</small>
                    Monitor
                    <small>|</small>
                    Analyse <small>|</small> Act <small>|</small> Ship</h4>
                <p class=mt-5>
                    Me as a Platform Engineer I have gone through all the areas of the application. I will cover my
                    experience as a blog covering create application with scaffolding tools and configuration for
                    deploying apps as container I also provide configurations for Observability Driven Development, for
                    the security and performance
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>