---
layout: default
permalink: /
canonical_url: "https://jinnabalu.tech/"
title: "jinnabalu | Home "
image_url: assets/img/logo.png
description: "Devops As Service, AWS Cost Optimisation As Service | Site Reliability Engineer, Infrastruture Solution Architect, Infra Ops, DevOps, DevSecOps, SRE"
date: 2023-01-05T10:15:00Z
keywords: "DevOps, DevOps As Service, SRE, Elasticsearch, ELK Stack, Observability,  Distributed Cluster of Cassandra, Elasticsearch, MongoDB"
---
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Services</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard pt-3">
    <div class="row">
      <div class="col-lg-4">
        <h4>Observability Driven Development</h4>
        <hr>
        {% include observability-why.html %}
      </div>
      <div class="col-lg-4">
        <h4>AWS Cost Optimisation</h4>
        <hr>
        {% include aws-cost-optimisation-card.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>Tech Stack</h4>
        <hr>
        {% include tech-grid.html %}
      </div>
    </div>
  </section>
</main>