<div class="text-center">
      <h2 style="text-align: center;"><span style="color: #ff6600;"><strong>పరోపకారం</strong></span></h2>
      <p><span style="color: #ff0000;"><strong>శ్లోకం:</strong></span></p>
      <p><span style="color: #0000ff;">परोपकाराय फलन्ति र्वुक्षाः&nbsp; परोपकाराय वहन्ति नद्यः ।</span><br>
            <span style="color: #0000ff;"> परोपकाराय दुहन्ति गावः&nbsp; परोपकारार्धमिदं शरीरम्&nbsp; ।।</span></p>
      <p><span style="color: #33cccc;">పరోపకారాయ ఫలన్తి వృక్షాః పరోపకారాయ వహన్తి నద్యః ।</span><br>
            <span style="color: #33cccc;"> పరోపకారాయ దుహన్తి గావః పరోపకారార్థమిదం శరీరమ్ ॥</span></p>
      <p><span style="color: #ff0000;"><strong>సంధి విగ్రహం</strong></span></p>
      <p>పరోపకారాయ, ఫలన్తి, వృక్షాః, పరః, ఉపకారాయ, వహన్తి, నద్యః,<br>
            పరః, ఉపకారాయ, దుహన్తి, గావః, పరోపకార, అర్థం, ఇదం, శరీరం, పరోపకారార్థమిదం శరీరమ్.</p>
      <p><span style="color: #ff0000;"><strong>శబ్దార్థం</strong></span></p>
      <p>పరోపకారాయ = పరుల ఉపయోగార్థం, వృక్షాః = చెట్లు, ఫలన్తి = పండ్లని కాస్తున్నాయి, నద్యః = నదులు, వహన్తి =
            ప్రవహిస్తున్నాయి, గావః = ఆవులు, దుహన్తి = పాలని ఇస్తున్నాయి, పరోపకారార్థం = పరుల ఉపయోగం కొరకై, ఇదమ్ శరీరమ్ =
            ఈ శరీరం ఉద్దేశింపబడినది.</p>
      <p><span style="color: #ff0000;"><strong>Meaning</strong></span></p>
      <p>Trees give fruits to help satisfy the hunger of humans. Rivers flow to quench the thirst of humans. Cows
            produce milk to feed humans. In the same way, our own human body should also be employed for the help and
            assistance to other human beings.</p>
      <p><span style="color: #ff0000;"><strong>భావార్థం</strong></span></p>
      <p>వృక్షాలు ఫలాలనిస్తాయి. కానీ అవి తినవు. అవి అన్నియూ మనుషులకే ఉపయోగిస్తాయి. ఉపయోగపడడమే కాదు, అవి విలువైన మంచి
            పోషకాహారాలు అందిస్తాయి. అవి మిక్కిలి ఆరోగ్యవంతమైన ఆహారమౌతాయి.</p>
      <p>నదులు మంచినీటిని కలిగి ఉంటాయి. మనుషులకు త్రాగుటకు ఉపయోగిస్తాయి. మానవ శరీరం అధిక భాగం నీటిని కలిగి ఉంటుంది. నీరు
            లేనిదే మనిషి యొక్క మనుగడ లేదు. ఉనికియే ప్రశ్నార్థకమౌతుంది. జన జీవనము, మానవ సంస్కృతి అంతా అనాదిగా నదీ పరీIవాహక
            ప్రాంతాలలోనె విస్తరించింది. నదులు ప్రవహించేది మానవ ప్రయోజనానికే అని వేరేచెప్పనవసరం లేదు.</p>
      <p>ఆవులు భారతీయ సంస్కృతిలో ఒక భాగం. విశేష ప్రాధాన్యతని కలిగి ఉన్నాయి. ఆవు పాలు పౌష్టికాహార విలువలని కలిగి ఉంటుంది.
            ఆవు పాలు వివిధ రూపాలలో మనుషులకు ఉపయోగిస్తుంది. పాలు, పాల నుంచి పెరుగు, పెరుగు నుండి నవనీతము అనగా వెన్న,
            వెన్న నుండి నేయి ఉత్పన్నమై ఇవి అన్నియు మనుషులకు వివిధ రకాలుగా ఉపయోగ పడుతున్నాయి. అనేక రకాలైన వంటకాలలో కూడా
            వినియోగిస్తారు. ఆవు పాల యొక్క విశిష్టత అనన్యం. ఈ విధంగా ప్రకృతినుండి లభించే చెట్లు, నదులు, సృష్టిలోని
            ఉత్కృష్టమైన జంతువు, ఆవులు నుండి మానవాళికి ఉపయోగమే తప్ప హానిలేదు.</p>
      <p>సృష్టిలోని ఎన్నో రకాలైన జీవ జాతులలో మనుష్య జన్మ ఎంతో విశిష్టమైనది. మనిషి ఒక్కడే ఆలోచన శక్తి, విశేషమైన మేధా
            శక్తి కలిగి ఉన్నాడు. అప్రతిహతమైన శక్తి సామర్ధ్యాలు మనిషి సొంతం. మరి అటువంటప్పుడు అత్యంత ఉత్కృష్టమైన మానవ
            జన్మ కలిగి ఉండి ఇతరులకి మేలుచేయకపోవడం, ఉపయోగపడకుండా ఉండడం అనేది ప్రకృతి సహజత్వానికి విరుద్ధం. మానవ ఇతిహాసంలో
            ఉన్న అన్ని రకాల శాస్త్రాలు, ధర్మాలు అన్నీ పరోపకార హితానికై పాటుపడమని బోధిస్తున్నాయి. పరోపకారమే పుణ్యము,
            ఇతరులను పీడించడము పాపం అని వక్కాణిస్తున్నాయి.<br>
            అందుచే పరోపకారార్థమిదం శరీరం అనే నానుడి స్థిరపడింది. అంటే, ఈ శరీరం యొక్క విశిష్ట ప్రయోజనం పరోపకారమేనని,
            విశిష్ట జన్మనెత్తిన ఈ మానవ శరీరం పరోపకారము కొరకు మాత్రమే ఉద్దేశింపబడినది అని అనేక ఉద్గ్రంథాలు చాటుతున్నాయి.
      </p>
      <p style="text-align: center;"><strong>————– ॐ ॐ ॐ ————–</strong></p>
</div>
<br><br>