  <header id="header" class="header fixed-top d-flex align-items-center p-5">

      <div class="d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
              <img src="/assets/img/logo.png" alt="">
              <span>Jinna Balu </span>
          </a>
      </div>
      <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">

              <li class="nav-item d-block d-lg-none">
                  <a class="nav-link nav-icon search-bar-toggle " href="#">
                      <i class="bi bi-search"></i>
                  </a>
              </li>
              <li class="nav-item dropdown pe-3">
                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                      <img src="assets/img/jinnabalu.jpeg" alt="Profile" class="rounded-circle">
                      <span class="d-none d-md-block dropdown-toggle ps-2">Jinna Balu</span>
                  </a>

                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                      <li class="dropdown-header">
                          <h6>Jinna Balu</h6>
                          <span>Solution Architect | Tech Enthusiast | Cloud Optimizer</span>
                      </li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="/">
                              <i class="bi bi-house-fill"></i>
                              <span>Home</span>
                          </a>
                          <a class="dropdown-item d-flex align-items-center" href="/profile">
                              <i class="bi bi-person"></i>
                              <span>Resume</span>
                          </a>
                      </li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>

                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="mailto:jinna.balu@outlook.com?subject=Need%20help%20from%20Profile%20Page&body=Hi,%20I%20wanted%20to%20reach%20out%20to%20you%20about...">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                      </li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                  </ul>
              </li>
          </ul>
      </nav>
  </header>