<header id="header" class="header fixed-top d-flex align-items-center p-3">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="">
            <span>Jinna Balu </span>
        </a>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a target="_blank" class="dropdown-item d-flex align-items-center" href="https://jinnabaalu.medium.com/">
                    Medium
                </a>
            </li>
            <li class="nav-item dropdown pe-3">
                <a target="_blank" class="dropdown-item d-flex align-items-center" href="https://www.linkedin.com/in/jinnabaalu/">
                    <span>LinkedIn</span>
                </a>
            </li>
            <li class="nav-item dropdown pe-3">
                <a target="_blank" class="dropdown-item d-flex align-items-center"
                    href="https://stackoverflow.com/users/4348824/jinna-baalu?tab=profile">
                    <span>Stackoverflow</span>
                </a>
            </li>
            <li class="nav-item dropdown pe-3">
                <a class="dropdown-item d-flex align-items-center" target="_blank" href="https://github.com/jinnabaalu">
                    <span>Github</span>
                </a>
            </li>
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/jinnabalu.jpeg" alt="Profile" class="rounded-circle">
                    </a>
                </a>
            </li>

        </ul>
    </nav>
</header>