<div class="card info-card">
    <div class="card-body">
        <h5 class="card-title">Observability Design #2</h5>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flex justify-content-center">
                <img src="/assets/img/svg/prometheus.svg" alt="Prometheus">

            </div>
            <div class="ps-3">
                <h4>Prometheus</h4>
                <span class="text-success small pt-1 fw-bold">distributed</span> <span
                    class="text-muted small pt-2 ps-1">search engine</span>

            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flexjustify-content-center">
                <img src="/assets/img/svg/grafana.svg" alt="Grafana">

            </div>
            <div class="ps-3">
                <h4>Grafana</h4>
                <span class="text-success small pt-1 fw-bold">Dashboards and metrics </span> <span
                    class="text-muted small pt-2 ps-1">UI for multiple datasources</span>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flex justify-content-center">
                <img src="/assets/img/svg/loki.svg" alt="Loki">
            </div>
            <div class="ps-3">
                <h4>Loki</h4>
                <span class="text-success small pt-1 fw-bold"> Log aggregation system </span> <span
                    class="text-muted small pt-2 ps-1">Tail your logs in realtime </span>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flex justify-content-center">
                <img src="/assets/img/svg/tempo.svg" alt="Tempo">
            </div>
            <div class="ps-3">
                <h4>Tempo</h4>
                <span class="text-success small pt-1 fw-bold">high-scale distributed tracing backend</span>
                <span class="text-muted small pt-2 ps-1">Identify errors coming from multiple services</span>  
            </div>
        </div>
    </div>
</div>