<div class="card info-card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h5 class="card-title">Why Observability ?</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex">
                    <div class="ps-3">
                        <h4>Three Pillers of Observability</h4>
                        <span class="text-success small pt-1 fw-bold">Understand the system without getting into the
                            system's console</span>
                        <span class="text-muted small pt-2 ps-1">Provides the productive development environment and
                            know your end user issues on UI console.</span>
                        {% if page.url == '/' %}
                        Know <a href="/observability">more..</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex">
                    <div class="card-icon rounded-circle d-flex justify-content-center">
                        <img src="/assets/img/svg/logs.svg" alt="Logs">

                    </div>
                    <div class="ps-3">
                        <h4>Centralized Logging</h4>
                        <span class="text-success small pt-1 fw-bold">Real time logs from networks, infrastructure, and
                            applications </span> <span class="text-muted small pt-2 ps-1">for search</span>

                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="d-flex">
                    <div class="card-icon rounded-circle d-flexjustify-content-center">
                        <img src="/assets/img/svg/metrics.svg" alt="Metrics">

                    </div>
                    <div class="ps-3">
                        <h4>Metrics</h4>
                        <span class="text-success small pt-1 fw-bold">Right Sizing and performce</span> <span
                            class="text-muted small pt-2 ps-1">of the system </span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="d-flex">
                    <div class="card-icon rounded-circle d-flex justify-content-center">
                        <img src="/assets/img/svg/traces.gif" alt="Traces">
                    </div>
                    <div class="ps-3">
                        <h4>Traces</h4>
                        <span class="text-success small pt-1 fw-bold">APM, RUM => Latency Check</span> <span
                            class="text-muted small pt-2 ps-1">for App centric view </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>