<div class="card info-card">
    <div class="card-body">
        <h5 class="card-title">Observability Design #1</h5>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flex justify-content-center">
                <img src="/assets/img/svg/elasticsearch.svg" alt="Kibana">

            </div>
            <div class="ps-3">
                <h4>Elasticsearch</h4>
                <span class="text-success small pt-1 fw-bold">distributed</span> <span
                    class="text-muted small pt-2 ps-1">search engine</span>

            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flexjustify-content-center">
                <img src="/assets/img/svg/kibana.svg" alt="Kibana">

            </div>
            <div class="ps-3">
                <h4>Kibana</h4>
                <span class="text-success small pt-1 fw-bold">Dashboards and metrics </span> <span
                    class="text-muted small pt-2 ps-1">UI for elasticsearch </span>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flex justify-content-center">
                <img src="/assets/img/svg/logstash.svg" alt="Logstash">
            </div>
            <div class="ps-3">
                <h4>Logstash</h4>
                <span class="text-success small pt-1 fw-bold">Data Transfer </span> <span
                    class="text-muted small pt-2 ps-1">Pipeline </span>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="card-icon rounded-circle d-flex justify-content-center">
                <img src="/assets/img/svg/beats.svg" alt="Beats">
            </div>
            <div class="ps-3">
                <h4>Logstash</h4>
                <span class="text-success small pt-1 fw-bold">Heartbeat, Packetbeat, Filebeat, Metricbeat, Functionbeat, Auditbeat</span>
            </div>
        </div>
    </div>
</div>