---
layout: default
permalink: /cicd
canonical_url: "https://jinnabalu.tech/cicd"
title: "jinnabalu | CICD "
image_url: assets/img/logo.png
description: "Devops As Service, AWS Cost Optimisation As Service | Site Reliability Engineer, Infrastruture Solution Architect, Infra Ops, DevOps, DevSecOps, SRE"
date: 2023-01-05T10:15:00Z
keywords: "DevOps, DevOps As Service, SRE, Elasticsearch, ELK Stack, Observability,  Distributed Cluster of Cassandra, Elasticsearch, MongoDB"
---
<main id="main" class="main">
    <div class="pagetitle">
        <h1>CICD</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">CICD</li>
            </ol>
        </nav>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2>Jenkins</h2>
            <hr>
        </div>
    </div>
    <section class="section">
        <div class="row">
            {% for post in site.posts %}
            {% if post.categories contains 'jenkins' %}
            {% include postbox.html %}
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <section class="section">
        <ul>
            <li>
                <div>
                    <h4><a href="/jenkins">Jenkins</a></h4>
                </div>
            </li>
            <li>
                <div>
                    <h4>Github Actions</h4>
                </div>
            </li>

            <li>
                <div>
                    <h4>Bitbucket Pipeline</h4>
                </div>
            </li>
            <li>
                <div>
                    <h4>Gitlab Pipeline</h4>
                </div>
            </li>
        </ul>
    </section>
</main>